</div><!--/wrapper-->  
<footer>
        <div class="footer-wrapper">
        <div class="footer-main">
            <ul>
                <li><a href="{{site.url}}welcome.html">Visit</a></li>
                <li><a href="{{site.url}}sermons.html">Sermons</a></li>
                <li><a href="{{site.url}}gallery.html">Gallery</a></li>
                <li><a href="{{site.url}}blog-list.html">Blog</a></li>
                <li><a href="{{site.url}}contact.php">Contact</a></li>
            </ul>
            <p>{{site.data.home[0].Intro_Text}}  <a href="{{site.url}}welcome.html">Visit this Sunday.</a></p>
        </div><!--/main footer-->
        <div class="footer-contact">
        {% if  site.data.info[0].Church_Logo %}
        <img src="{{site.data.info[0].Church_Logo[0].url}}" alt="">
        <hr>
        {% else %}
        <h3>{{site.data.info[0].Church_Name}}</h3>
        <hr>
        {% endif %}
        
        <ul>
            {% if  site.data.contact[0].Facebook %}
            <li><a href="{{site.data.contact[0].Facebook}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a></li>{% endif %}
            {% if  site.data.contact[0].Twitter %}
            <li><a href="{{site.data.contact[0].Twitter}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a></li>{% endif %}
             {% if  site.data.contact[0].Youtube %}
            <li><a href="{{site.data.contact[0].Youtube}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-youtube fa-stack-1x"></i></span></a></li>{% endif %}
            <li><a href="#"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-rss fa-stack-1x"></i></span></a></li>
            <li><a href="http://airtable.com"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-gear fa-stack-1x"></i></span></a></li>
        </ul>
            
        </div><!--/footer-contact-->
        </div><!--/footer-wrapper-->
    </footer>
    <script src="{{site.url}}assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>